<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1>Ranaldo Green</h1>
 <p>I'm currently a second year computing student at the U.W.I Mona. 
    In my free time I like watching movies, playing games or simply browse the web for things that I find fascinating. 
    My friends are my happy place; I put alot of trust in them and they in me. 
    I would go to the ends of the earth for my friends, I believe in living a kind and honest life</p>
</body>
</html>